@font-face {
	font-family: "TacticRoundExd";
	src: url("../fonts/TacticRoundExd-Bld.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "TacticRoundExd";
	src: url("../fonts/TacticRoundExd-Reg.woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TacticRoundExd";
	src: url("../fonts/TacticRoundExd-Lgt.woff2");
	font-weight: 300;
	font-style: normal;
}
 
@font-face {
	font-family: "TacticRoundExd";
	src: url("../fonts/TacticRoundExd-Med.woff2");
	font-weight: 500;
	font-style: normal;
}